*{
    margin:0px; padding: 0px;
}
.awesome{
    color:rgb(20, 120, 120);
    font-size: 30px;
    line-height: 36px;
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
    margin:3px;
    text-align: center;
}
.choose{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:46px;
    line-height: 64px;
    text-align: center;
    margin:5px;
}
#awesome_icons{
    color:#27a1b6;
    font-size: 55px;
    margin:5px;
    padding: 4px;
}
.awesome_container1{
    width:350px;
    margin:12px;
    margin-left: 100px;
    padding:10px;
    float: left;
}
.awesome_container1 h1{
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:rgb(16, 34, 27);
    line-height: 29px;
    margin:5px;
    padding: 4px;
}
.awesome_container1 p{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:rgb(16, 34, 27);
    line-height: 27px;
    margin:5px;
    padding: 4px;
}
/* image css */
.awesome_image{
    position: absolute;
    left:30%;
    top:20%;
}
/* conatiner2 css */
.awesome_container2{
    width:350px;
    margin:12px;
    padding:10px;
    float:right;
    margin-right: 58px;
    
}
.awesome_container2 h1{
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:rgb(16, 34, 27);
    line-height: 29px;
    margin:5px;
    padding: 4px;
}
.awesome_container2 p{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:rgb(16, 34, 27);
    line-height: 27px;
    margin:5px;
    padding: 4px;
}
